<!-- The Content Heading -->
<% if (title) { %>

            <main class="error-main">
                <h1><%= title %></h1>
                <%# messages() %>
            
                <h2>Sorry, we appear to have lost that page.</h2>
            </main>
<% } else { res.redirect('/') } %>
        <!-- A Message Block -->